/* General Styles */
body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #161853;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
}

/* Header Styles (same as in other pages) */
.header {
    background-color: #080404;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header a {
    color: inherit;
    text-decoration: inherit;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

/* Top Spacer Styles */
.top-spacer {
    height: 120px;
    background-color: #080404;
}

/* Verify Email Section Styles */
.verify-email-section {
    background-color: #2a2c69;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    margin: 60px auto;
    max-width: 350px; /* Reduced max-width of the form container */
}

.verify-email-form input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #333;
    color: #eee;
    font-family: 'Space Mono', monospace; /* Use monospace font for input field */
}

.verify-email-form button[type="submit"] {
    background-color: #dc1c88;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Space Mono', monospace; /* Use monospace font for button */
}

.verify-email-form button[type="submit"]:hover {
    background-color: #c51878;
}

/* Flashed Messages Styles */
.verify-email-form p {
    color: #dc3545; /* Red color for error messages */
    background-color: #f8d7da; /* Light red background */
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.verify-email-form p.success {
    color: #28a745; /* Green color for success messages */
    background-color: #d4edda; /* Light green background */
}

.verify-email-form p.info {
    color: #17a2b8;
    background-color: #d1ecf1;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 24px;
    }

    p, li {
        font-size: 16px;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .header nav {
        margin-top: 10px;
    }

    .verify-email-section {
        padding: 30px;
    }

    .verify-email-form input[type="text"] {
        width: 100%;
    }

    .verify-email-form button[type="submit"] {
        font-size: 16px;
    }
}