<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="../static/css/error.css">
</head>
<body>
  <div class="error-container">
    {% if isNotFound %}
      <p class="error-message">Error en capa 8</p>
      <p class="instruction">
        El archivo que subiste no es un archivo HTML.
      </p>
    {% else %}
    <p class="error-message">Error</p>
        <p class="instruction">
            {{ error }}
        </p>
        {% endif %}
  </div>
</body>
</html>
