<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../static/css/error.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <a href="{{ url_for('ticsolver') }}"><h1>TICSolver</h1></a>
            </div>
        </div>
    </header>

    <div class="top-spacer"></div>

    <main>
        <section class="error-section">
            <div class="container">
                <div class="error-container">
                    {% if isNotFound %}
                        <p class="error-message">Error en capa 8</p>
                        <p class="instruction">
                            El archivo que subiste no es un archivo HTML.
                        </p>
                    {% else %}
                        <p class="error-message">Error</p>
                        <p class="instruction">
                            {{ error }}
                        </p>
                    {% endif %}

                    <a href="{{ url_for('ticsolver') }}" class="btn btn-primary">Volver</a>
                </div>
            </div>
        </section>
    </main>

    </body>
</html>