<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini API Option</title>
    <link rel="stylesheet" href="../static/css/gemini_option.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <a href="{{ url_for('ticsolver') }}"><h1>TICSolver</h1></a>
                <nav>
                    {% if current_user.is_authenticated %}
                        <span>Hello, {{ current_user.first_name}}</span>
                        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Cerrar Sesión</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>

    <div class="top-spacer"></div>

    <main>
        <section class="gemini-option-section">
            <div class="container">
                <h2 class="section-heading">Usar Gemini API</h2>
                <p>No se encontraron respuestas correctas cargadas en el formulario. ¿Deseas intentar usar Gemini para responder el formulario?</p>
                <form id="gemini-form" action="/use_gemini" method="POST">
                    <input type="hidden" name="rowpag_data" value="{{ rowpag_data | tojson }}">
                    <button type="submit" class="btn btn-primary">Usar Gemini</button>
                </form>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 TICSolver. Todos los derechos reservados.</p>
            <a href="https://github.com/Defeeeee/TICSolver" target="_blank" class="repo-link">
                <i class="fab fa-github"></i> Repositorio
            </a>
        </div>
    </footer>
</body>
</html>
