<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de {{ filename }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <a href="{{ url_for('ticsolver') }}"><h1>TICSolver</h1></a>
                <nav>
                    {% if current_user.is_authenticated %}
                        <span>Hello, {{ current_user.first_name}}</span>
                        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Cerrar Sesión</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>

    <div class="top-spacer"></div>

    <main>
        <section class="results-section">
            <div class="container">
                <h2 class="section-heading">Resultados de {{ filename }}</h2>
                <ul class="answer-list">
                    {% for answer in results %}
                        <li class="answer-item">
                            <h3>{{ answer['title'] }}</h3>
                            {% if answer['correct_answer'] %}
                                <ul class="correct-answer-list">
                                    {% for ans in answer['correct_answer'] %}
                                        {% if answer['correct_answer'] is mapping %}
                                            <li class="correct-answer">
                                                <b>{{ answer['correct_answer'][ans] }}:</b> {{ ans }}
                                            </li>
                                        {% else %}
                                            <li class="correct-answer">{{ ans }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="no-answer">No se encontraron respuestas correctas.</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                <a href="{{ url_for('history') }}" class="btn btn-secondary">Volver al Historial</a>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 TICSolver. Todos los derechos reservados.</p>
            <a href="https://github.com/Defeeeee/TICSolver" target="_blank" class="repo-link">
                <i class="fab fa-github"></i> Repositorio
            </a>
        </div>
    </footer>
</body>
</html>