<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<main>
    <section class="register-section">
        <div class="container">
            <h2>Registrarse</h2>

            <div class="google-login">
                <a href="{{ url_for('google.login') }}" class="btn btn-secondary">
                    <i class="fab fa-google"></i> Registrarse con Google
                </a>
            </div>
            <div class="divider">
                <span></span> o <span></span>
            </div>

            <form action="/register" method="POST" class="register-form">
                <input type="text" name="username" placeholder="Nombre de Usuario" required>
                <input type="text" name="first_name" placeholder="Nombre" required>
                <input type="text" name="last_name" placeholder="Apellido" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <input type="password" name="confirm_password" placeholder="Confirmar Contraseña" required>
                <button type="submit" class="btn btn-primary">Registrarse</button>
                {% with messages = get_flashed_messages()%}
                {% if messages%}
                {% for message in messages%}
                <p>{{message}}</p>
                {%endfor%}
                {%endif%}
                {%endwith%}
            </form>
        </div>
    </section>
</main>
</body>
</html>